/* IMPORTS DE PAGINAS ESPECIFICAS */

@import '_index.css';

@import '_login.css';

@import '_registro.css';

@import '_perfil.css';

@import '_amigos.css';

@import '_contacto.css';

@import '_faq.css';

@import '_feed.css';


/* ESTILOS GLOBALES */

*{
    font-family:'Rubik',sans-serif;
    font-weight:400;
    margin:0;
    padding:0;
}

.vh-100{
    height:auto !important;
    min-height:100vh !important;
}


footer{
    background-color:#2e3035;
}

footer h4{
    color:#1bb76e;
}

footer p,footer a{
    color:#fff;
    transition:all 0.25s ease;
}

footer a:hover{
    color:#1bb76e;
    text-decoration:none;
}

.navbar-brand img{
    width:120px;
}

.btn-secondary{
    border:0 !important;
    background-color:#1bb76e !important;
}

.btn-secondary:hover{
    background-color:#54c992 !important;
}

.color-verde{
    color:#1bb76e;
}

.bg-verde{
    background-color:#1bb76e;
}

.nav-item{
    margin-left:10px;
}

.navbar-brand img{
    width:160px;
}

.nav-item .nav-link{
    color:#1bb76e !important;
    transition:all 0.25s ease;
}

.nav-item .nav-link:hover{
    color:#54c992 !important;
}

.card .btn-link{
    color:#2e3035;
}


section.destacados h2{
    border-bottom:1px solid #1bb76e;
}










